@model WebApplication1.Models.Movie

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

@using (Html.BeginForm("Edit", "Movie", FormMethod.Post))
{
    <div>
        <input type="text" name="title" value="@Model.title" placeholder="title"/>
    </div>
    <div>
        <input type="text" name="url" value="@Model.url" placeholder="url"></input>
    </div>
    <div>
        <input type="text" name="description" value="@Model.description" placeholder="description"></input>
    </div>
    <div>
        <input type="text" name="video" value="@Model.video" placeholder="video"></input>
    </div>
    <div>
        <button type="submit" class="btn btn-primary">submit</button>
    </div>
}


<div>
    @*<a asp-page="./Edit" asp-route-id="@model.id">Edit</a> |
    <a asp-page="./Index">Back to List</a>*@
</div>