@model KPcinema.Models.Movie

@{
    ViewData["Title"] = "Details";
}
<div>
    <center>
        <h1 >@Model.title</h1>
    </center>
    <dl class="row" style="padding-top:20px;">
        <dd class="col-sm-4 center-block">
            <img src="@Model.url" alt="@Model.title" width="300" height="300">
        </dd>
        <dd class="col-sm-7">
            <iframe width="560" height="315"
                    src="https://www.youtube.com/embed/[@Model.video] title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </dd>
    </dl>
    <dl class="row">
        <dd class="col-sm-6" text-align="center">
            @Html.DisplayFor(model => model.description)
        </dd>
    </dl>
</div>
<div>
    @*<a asp-page="./Edit" asp-route-id="@model.id">Edit</a> |
    <a asp-page="./Index">Back to List</a>*@
</div>